.u-section-1 {
  min-height: 846px;
}

.u-section-1 .u-image-1 {
  height: 516px;
  object-position: 50% 100%;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -143px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 102px;
  width: 102px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 234px;
  margin: 24px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 25px 30px 24px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 415px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 102px;
  width: 102px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-1 .u-group-2 {
  min-height: 234px;
  margin: 24px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 25px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 11px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 453px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 102px;
  width: 102px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-group-3 {
  min-height: 190px;
  margin: 24px auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 25px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -757px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 909px;
  }

  .u-section-1 .u-image-1 {
    height: 522px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -159px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-1 .u-group-1 {
    min-height: 308px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    min-height: 308px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 935px;
  }

  .u-section-1 .u-image-1 {
    height: 443px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -164px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-group-1 {
    min-height: 435px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-group-2 {
    min-height: 433px;
    width: 214px;
    margin: 47px auto -3px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 286px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-group-3 {
    min-height: 433px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -851px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1316px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-group-1 {
    min-height: 150px;
    width: 534px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-1 .u-group-2 {
    min-height: 165px;
    width: 534px;
    margin-top: 14px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 337px;
  }

  .u-section-1 .u-group-3 {
    min-height: 151px;
    width: 534px;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1241px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    min-height: 160px;
    width: 337px;
    margin-right: -3px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    min-height: 209px;
    width: 337px;
    margin-right: -3px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    min-height: 160px;
    width: 337px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 {
  min-height: 665px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-2 .u-image-1 {
  background-image: url("images/66621a7b161099840a42521a9234bf8bc6ff23062326d455f5d435d5ad3ce9aed121a55b194b7afe6cc11ef801d06c0ec990b310e8b47bee5548c1_1280.jpg");
  min-height: 728px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 202px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-2 .u-line-1 {
  width: 245px;
  height: 3px;
  transform-origin: left center;
  margin: 87px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 530px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 620px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 30px 40px;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 715px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1101px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 229px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 921px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 1px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 590px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 869px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1808px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 187px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 753px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 6779px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1082px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 1356px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 137px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 511px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 399px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-3 {
    height: 112px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 5084px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1199px;
  }

  .u-section-2 .u-image-1 {
    min-height: 854px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 780px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 3201px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 468px;
}

.u-section-3 .u-text-1 {
  width: 740px;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 292px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 44px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 2000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  animation-duration: 2000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  animation-duration: 2000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-3 .u-list-1 {
    min-height: 259px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    min-height: 595px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 506px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 684px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 750px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-2 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-3 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-4 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-5 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-6 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    min-height: 618px;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    min-height: 711px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-image-3 {
    margin-top: 118px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    margin-top: 118px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    margin-top: 118px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    margin-top: 118px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    min-height: 1200px;
    grid-template-columns: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 344px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 344px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 344px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 344px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 344px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 344px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    min-height: 1007px;
  }

  .u-section-4 .u-image-1 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 769px;
}

.u-section-5 .u-text-1 {
  width: 624px;
  margin: 38px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 25px 161px 0;
}

.u-section-5 .u-slider-1 {
  width: 758px;
  min-height: 450px;
  margin: 30px auto 25px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 623px;
  height: 354px;
  margin: 18px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 623px;
  height: 354px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 623px;
  height: 354px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 623px;
  height: 354px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  width: 623px;
  height: 354px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  width: 623px;
  height: 354px;
  margin: 0 auto;
}

.u-section-5 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
  background-image: none;
}

.u-section-5 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 30px;
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-5 .u-slider-1 {
    height: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    width: 601px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 392px;
    margin-top: 31px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 520px;
    height: 306px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 520px;
    height: 295px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    width: 520px;
    height: 295px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    width: 520px;
    height: 295px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    width: 520px;
    height: 295px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    width: 520px;
    height: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    margin-top: 17px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 288px;
    margin-top: 17px;
    margin-bottom: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 188px;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 182px;
  }

  .u-section-5 .u-image-3 {
    width: 320px;
    height: 182px;
  }

  .u-section-5 .u-image-4 {
    width: 320px;
    height: 182px;
  }

  .u-section-5 .u-image-5 {
    width: 320px;
    height: 182px;
  }

  .u-section-5 .u-image-6 {
    width: 320px;
    height: 182px;
  }
}