.u-section-1 .u-sheet-1 {
  min-height: 526px;
}

.u-section-1 .u-slider-1 {
  width: 570px;
  min-height: 421px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-1 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-1 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-1 .u-carousel-item-3 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-1 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 421px;
  margin: -421px 0 45px auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    width: 470px;
    min-height: 385px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 385px;
    height: 288px;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
    margin-top: -385px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 185px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-slider-1 {
    width: 346px;
    min-height: 493px;
  }

  .u-section-1 .u-image-1 {
    margin-left: -61px;
  }

  .u-section-1 .u-group-1 {
    width: 354px;
    margin-top: -493px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 461px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 491px;
    height: 368px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 30px;
    min-height: 391px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 387px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 239px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 239px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 239px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 22px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 22px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 526px;
}

.u-section-2 .u-slider-1 {
  width: 570px;
  min-height: 421px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-2 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-2 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-2 .u-carousel-item-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 421px;
  margin: -421px 0 60px auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-slider-1 {
    width: 470px;
    min-height: 449px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    width: 385px;
    height: 287px;
  }

  .u-section-2 .u-group-1 {
    width: 431px;
    margin-top: -449px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 26px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 106px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 183px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 183px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 346px;
    min-height: 493px;
  }

  .u-section-2 .u-image-1 {
    object-position: 53.99% 100%;
    margin-left: -62px;
  }

  .u-section-2 .u-group-1 {
    width: 354px;
    margin-top: -493px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-2 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 491px;
    height: 366px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 34px;
    margin-bottom: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 387px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 239px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 239px;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 239px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }
}