.u-section-1 .u-sheet-1 {
  min-height: 526px;
}

.u-section-1 .u-slider-1 {
  width: 570px;
  min-height: 421px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-1 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-1 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-1 .u-carousel-item-3 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-1 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 421px;
  margin: -421px 0 45px auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    width: 470px;
    height: auto;
    margin-top: 55px;
  }

  .u-section-1 .u-image-1 {
    width: 385px;
    height: 288px;
    object-position: 50% 0%;
  }

  .u-section-1 .u-image-2 {
    width: 386px;
    height: 288px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 235px;
    width: 385px;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
    margin-top: -419px;
    margin-bottom: 53px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 185px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-slider-1 {
    width: 346px;
    min-height: 435px;
    margin-top: 56px;
  }

  .u-section-1 .u-image-1 {
    width: 377px;
    height: 282px;
    margin-top: 44px;
    margin-left: -61px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 258px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 207px;
    width: 339px;
    margin-top: 84px;
  }

  .u-section-1 .u-group-1 {
    width: 354px;
    min-height: 436px;
    margin-top: -435px;
    margin-bottom: 54px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 449px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 389px;
    width: 520px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 248px;
    object-position: 100% 91.68%;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    height: 317px;
    width: 520px;
    margin-top: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 301px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 20px 10px 11px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 387px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 273px;
    width: 330px;
  }

  .u-section-1 .u-image-2 {
    height: 231px;
    width: 330px;
  }

  .u-section-1 .u-image-3 {
    height: 231px;
    width: 330px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 22px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 22px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 526px;
}

.u-section-2 .u-slider-1 {
  width: 570px;
  min-height: 421px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-2 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 421px;
  margin: -421px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    width: 470px;
    min-height: 417px;
    height: auto;
    margin-top: 55px;
  }

  .u-section-2 .u-group-1 {
    width: 431px;
    margin-top: -419px;
    margin-bottom: 53px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 9px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 106px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 183px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 183px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-2 .u-slider-1 {
    width: 346px;
    min-height: 431px;
    margin-top: 57px;
  }

  .u-section-2 .u-group-1 {
    width: 354px;
    min-height: 435px;
    margin-top: -433px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-2 .u-slider-1 {
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 30px;
    min-height: 301px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 387px;
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 372px;
    margin-bottom: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 22px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 526px;
}

.u-section-3 .u-slider-1 {
  width: 570px;
  min-height: 421px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-3 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 470px;
  height: 361px;
  margin: 0 auto;
}

.u-section-3 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 470px;
  height: 361px;
  margin: 0 auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 421px;
  margin: -421px 0 45px auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    width: 470px;
    height: auto;
    margin-top: 53px;
  }

  .u-section-3 .u-image-1 {
    width: 373px;
  }

  .u-section-3 .u-group-1 {
    width: 433px;
    margin-bottom: 53px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 118px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 185px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-3 .u-slider-1 {
    width: 346px;
    min-height: 433px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 354px;
    min-height: 435px;
    margin-top: -433px;
    margin-right: 6px;
    margin-bottom: 57px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 461px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: 30px;
    min-height: 300px;
    margin-bottom: -75px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 387px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 236px;
    width: 330px;
  }

  .u-section-3 .u-image-2 {
    height: 246px;
    width: 330px;
  }

  .u-section-3 .u-group-1 {
    min-height: 327px;
    margin-bottom: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 22px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 22px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 22px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 526px;
}

.u-section-4 .u-slider-1 {
  width: 570px;
  min-height: 421px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-4 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 421px;
  margin: -421px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    width: 470px;
    height: auto;
    margin-top: 55px;
  }

  .u-section-4 .u-group-1 {
    width: 431px;
    margin-top: -423px;
    margin-bottom: 53px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 26px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 106px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 183px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 183px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-4 .u-slider-1 {
    width: 346px;
    min-height: 433px;
  }

  .u-section-4 .u-group-1 {
    width: 354px;
    min-height: 435px;
    margin-top: -433px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-4 .u-slider-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 30px;
    min-height: 300px;
    margin-bottom: -140px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 387px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: -54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: 22px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 22px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 22px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 526px;
}

.u-section-5 .u-slider-1 {
  width: 570px;
  min-height: 421px;
  margin: 60px auto 0 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-5 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-5 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-5 .u-carousel-item-3 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 483px;
  height: 361px;
  object-position: 50% 100%;
  margin: 0 auto;
}

.u-section-5 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-5 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 421px;
  margin: -421px 0 45px auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 20px 222px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    width: 470px;
    height: auto;
    margin-top: 55px;
  }

  .u-section-5 .u-image-1 {
    width: 385px;
    height: 288px;
    object-position: 50% 0%;
  }

  .u-section-5 .u-image-2 {
    width: 386px;
    height: 288px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 235px;
    width: 385px;
  }

  .u-section-5 .u-group-1 {
    width: 433px;
    margin-top: -419px;
    margin-bottom: 53px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 118px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 185px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-5 .u-slider-1 {
    width: 346px;
    min-height: 435px;
    margin-top: 56px;
  }

  .u-section-5 .u-image-1 {
    width: 377px;
    height: 282px;
    margin-top: 44px;
    margin-left: -61px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 258px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    height: 207px;
    width: 339px;
    margin-top: 84px;
  }

  .u-section-5 .u-group-1 {
    width: 354px;
    min-height: 436px;
    margin-top: -435px;
    margin-bottom: 54px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 449px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 389px;
    width: 520px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    height: 248px;
    object-position: 100% 91.68%;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    height: 317px;
    width: 520px;
    margin-top: 0;
  }

  .u-section-5 .u-group-1 {
    min-height: 301px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding: 20px 10px 11px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 387px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 273px;
    width: 330px;
  }

  .u-section-5 .u-image-2 {
    height: 231px;
    width: 330px;
  }

  .u-section-5 .u-image-3 {
    height: 231px;
    width: 330px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 22px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 22px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 22px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 130px;
}

.u-section-6 .u-table-1 {
  width: 300px;
  margin: 41px auto;
}

.u-block-edf4-54 {
  height: 46px;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-btn-2 {
  padding: 0;
}

.u-section-6 .u-btn-3 {
  padding: 0;
}

.u-section-6 .u-btn-4 {
  padding: 0;
}

.u-block-edf4-77 {
  height: 46px;
}